* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: .25rem;
  background-color: #68095e;
  color: #f0f0f0;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-logo {
  margin: 0;
  height: calc(3rem * .75);
}

.header-title {
  font-weight: 600;
  font-size: .875rem;
}